<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.f0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,279}</string>
                <key>spriteSourceSize</key>
                <string>{162,279}</string>
                <key>textureRect</key>
                <string>{{0,0},{162,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.f0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,274}</string>
                <key>spriteSourceSize</key>
                <string>{161,274}</string>
                <key>textureRect</key>
                <string>{{0,279},{161,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.f0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,264}</string>
                <key>spriteSourceSize</key>
                <string>{159,264}</string>
                <key>textureRect</key>
                <string>{{0,553},{159,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.f0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,267}</string>
                <key>spriteSourceSize</key>
                <string>{161,267}</string>
                <key>textureRect</key>
                <string>{{0,817},{161,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plane.png</string>
            <key>size</key>
            <string>{162,1084}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1c0de30fd978abc7867ec5f3f9333f0:df1e4ec2700ededa5353ee59de55cd98:592bb08bfb59882b4fb915a6935c1201$</string>
            <key>textureFileName</key>
            <string>plane.png</string>
        </dict>
    </dict>
</plist>
